header {
    text-align: center;
    padding: 20px;
    background-color:turquoise
}

header h1 {
    font-size: 40px;
    margin-bottom: 7px;
    font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

header div {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    gap: 200px; /* Adds spacing between items */
}

h4 {
    margin: 0;
    font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
